cloudpickle==2.1.0
attrs==22.2.0
decorator==5.1.1
psutil==5.9.4
scipy==1.9.3
synr==0.5.0
tornado==6.1
smbus==1.1.post2
empy==3.3.4
lark==1.1.1
torch==1.13.0
torchvision==0.14.0
opencv-python==4.6.0.66
jupyter
jupyterlab
catkin_pkg==0.5.2
absl-py==1.4.0
numpy==1.22.4